*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
.width{
    max-width: 1200px;
    margin: auto;
}
/* Header section Start */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1%;
}
.logo h1{
    font-size: 16px;
    font-weight: bold;
}
.logo span{
    font-size: 25px;
    margin-top: -10;
}
nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
nav ul li a{
    text-decoration: none;
    padding: 20px;
    color: #575757;
}
.btn{
    background-color: #1D4ED8;
    color: #fff;
    display: inline-block;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.reg-btn{
    font-size: 21px;
}
/* Header section End */
/* Hero section Start */
.hero{
    background-image: linear-gradient(rgba(0, 0, 0, 0.642)), 
    url(./assets/banner.jpg);
    height: 90vh;
    text-align: center;
    padding: 8% 28%;
}
.hero h2{
    color: #fff;
    font-size: 60px;
}
.hero p{
    color: #fff;
    font-size: 20px;
    font-weight: 200;
    padding: 2% 0 30%;
}
/* Hero section End */
/* Meet the Speaker Section Start*/
.sec-title{
    padding: 5%;
    font-size: 50px;
    text-align: center;
}
.cards-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    border: .5px solid #57575749;
    display: inline-block;
    border-radius: 20px;
    margin: 2%;
    width: 40%;
}
.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
}
.text{
    padding: 3.5%;
}
.text p{
    padding: 1%;
}
.skill{
    color: #1D4ED8;
    font-size: 14px;
    font-weight: bold;
}
.name{
    font-size: 20px;
    font-weight: bold;
}
.title{
    color: #575757;
}
.sub-heading{
    text-align: center;
    margin-top: -40px;
    font-size: 18px;
}
/* Meet the Speaker Section End*/
/* Secure your Spot Section Start */
.offers{
    padding: 3em 0;
    display: flex;
    gap: 1em;
}
.offer-card{
    padding: 3%;
    border: 1px solid #575757;
    width: 33%;
    border-radius: 20px;
}
.offer-card h3{
    color: #575757;
    font-weight: 400;
}
.offer-card p{
    color: #000;
    font-weight: bolder;
    font-size: 50px;
}
.offer-card h4{
    color: #575757;
}
.offer-card ul{
    padding: 3em 1em;
}
.offer-card ul li{
    font-size: 18px;
    color: #575757;
    padding: 1%;
    list-style-image: linear-gradient(blue);
}
.pricing-btn{
    background-color: #1D4ED8;
    color: #fff;
    text-align: center;
    padding: 15px 35px;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
}
.highlight{
    background-color: #0D1B2A;
}
.highlight p{
    color: #fff;
}
.highlight h3{
    color: #93C5FD;
}
.highlight ul li{
    color: #fff;
}
.btn2{
    background-color: transparent;
    color: #000;
    border: 1px solid #000;
}
.btn2:hover{
    color: #1D4ED8;
    border:  1px solid #1D4ED8;
}
/* Secure your Spot Section End */
/* Newsletter section Start */
.newsletter{
    background-color: #0D1B2A;
    margin-bottom: 5%;
    border-radius: 20px;
    color: #fff;
    padding: 2%;
}
.newsletter p{
    width: 80%;
    margin: auto;
}
form{
    text-align: center;
    padding: 10%;
}
form input{
    font-size: 1.5em;
    border-radius: 50px;
    padding: .5em 1em;
    border: transparent;
}
#submit-btn{
    background-color: #93C5FD;
    color: #0D1B2A;
    cursor: pointer;
}
#submit-btn:hover{
    background-color: #fff;
    color: #0D1B2A;
}
/* Newsletter section End */
/* Footer section Start */
footer{
    background-color: #0D1B2A;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer div{
    width: 50%;
    text-align: center;
}
footer p{
    color: #ffffff5e;
}
footer a{
    color: #ffffff5e;
    text-decoration: none;
    margin-right: 1em;
}
/* Footer Section End */